* {
    padding: 0;
    margin: 0;
}

body {
    background: rgb(31, 31, 31);
    font-family: sans-serif;
    color: #ccc;
}

.content-wrapper {
    background: rgb(39, 39, 39);
    border: 1px solid rgb(43, 43, 43);
    border-radius: 4px;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, 50%);
    padding: 30px;
}